.editorContainer {
  padding-top: 60px;
  display: flex;
  flex-direction: row;
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
  overflow: hidden;
}

.actionBar {
  background: #2a2a3e;
  display: flex;
  width: var(--action-bar-width);
  border-right: 1px solid var(--ui-color-3);
}

.leftPanel {
  background: #2a2a3e;
  border-right: 1px solid var(--ui-color-3);
  flex-direction: column;
  width: var(--left-panel-width);
  min-width: var(--left-panel-width);
  display: flex;
  height: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  padding: 0;
}

.resourceListAreaLogos {
  column-count: 2;
  column-gap: 8px;
  overflow-y: scroll;
  padding-left: 8px;
  padding-right: 0px;
  box-sizing: border-box;
  width: 100%;
}

.resourceListAreaLogos.noScroll {
  overflow-y: hidden;
}

.verticalStack.leftPanel {
  align-items: start;
}

.labelsView {
  position: relative;
  background-color: var(--ui-color-1);
  padding-top: 16px;
  overflow-x: hidden;
  overflow-y: scroll;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  align-items: center;
  justify-content: space-around;
  column-gap: 20px;
  height: calc(100vh - var(--header-height));
  max-height: calc(100vh - var(--header-height));
}

.selectionBar {
  position: fixed;
  bottom: 16px;
  left: calc(var(--left-panel-width) + var(--action-bar-width) + 16px);
  display: flex;
  gap: 8px;
}
