.logoTools {
  display: flex;
  gap: 16px;
  height: fit-content;
  padding-inline: 8px;
}

.panelSection.panelLoading {
  flex: 1;
}

.resourceListAreaLogosScroll.loadingArea {
  display: flex;
  align-items: center;
  justify-content: center;
}
