.searchPanel {
  display: flex;
  max-height: calc(100vh - var(--header-height));
}

.searchHeader {
  box-sizing: border-box;
  justify-content: center;
  padding-inline: 8px;
}

.searchHeader .textField {
  flex-grow: 1;
}

.gameEntry {
  display: flex;
  width: 70%;
  max-width: 100%;
}

.searchResultsContainer {
  flex-grow: 1;
  flex-wrap: wrap;
  row-gap: 8px;
  column-gap: 8px;
  overflow-y: scroll;
  overflow-x: hidden;
}

.searchResult {
  display: flex;
  flex-direction: column;
  width: 48%;
}

.loader {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 36px;
}

.searchResultImageWrapper {
  position: relative;
  width: 100%;
}

.searchResult img {
  width: 100%;
}

.searchResultLoadingOverlay {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 4px;
}

.disclaimer {
  padding-inline: 8px;
  justify-content: space-around;
}
